<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Result</h1>
  <div>
    <p>Insert text ici</p>
  </div>

  <p><%= link_to "Rejouer", new_path %></p>
</body>
</html>
